"""Requirement files

*****
Group 25
- Hoang Bao Chau Nguyen - a1874801
- Thi Tu Linh Nguyen - a1835497
- Joanne Xue Ping Su - a1875646
- Brooke Egret Luxi Wang - a1828458
"""

aiohttp==3.10.7
black==24.8.0
cryptography==43.0.1
pytest==8.3.3
pytest-aiohttp==1.0.5
pytest-asyncio==0.24.0
websockets==13.0.1
